name: Selenium CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  selenium-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          pip install selenium
          pip install webdriver-manager

      - name: Run Selenium tests (headless)
        env:
          DISPLAY: :99
        run: |
          python selenium-tests/test_login_success.py
          python selenium-tests/test_login_invalid.py
